<div id="Main">
    <div class="sep20"></div>
    <div class="box">
        <div class="cell"><div class="fr" style="margin: -3px 8px 0px 0px"><span class="fade">数据于{$now_time}更新</span></div><a href="/">{:C('WEB_SITE_TITLE')}</a> <span class="chevron">&nbsp;›&nbsp;</span> 社区积分排行榜</div>
        <div class="inner">
            <table cellpadding="5" cellspacing="0" border="0" width="100%">
                <tbody>
                <foreach name="list" item="vo" key="k">
                <tr>
                    <td width="53" valign="top" align="center">
                        <a href="/member/CodingNET"><img src="{$vo.id|get_avatar=###,'48'}" class="avatar" border="0" align="default"></a>
                    </td>
                    <td width="auto" align="left">
                        <h2 style="margin-bottom: 10px; margin-top: 0px;"><span class="gray">{$k+1}.</span> <a href="{:U('User/index?id='.$vo['id'])}">{$vo.username}</a></h2>
                        <span class="gray f12">{$vo.tagline}</span>
                        <div class="sep5"></div>
                        <span class="fade">第 {$vo.id} 号会员</span>
                    </td>
                    <td width="200" align="center">
                        <div class="balance_area" style="font-size: 24px; line-height: 24px;">&nbsp;{$vo.score}&nbsp;</div>
                    </td>
                </tr>
                <tr>
                    <td colspan="3"><div style="height: 1px; background-color: #f0f0f0; border-bottom: 1px solid #fcfcfc;"></div></td>
                </tr>  
                </foreach>    
                <tr>
                    <td colspan="3" align="center"><span class="fade">你目前没有参与社区积分排行榜</span></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>