<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-CN">
<head>
	<meta charset="UTF-8" />
	<meta content="True" name="HandheldFriendly" />
    <block name="meta">加载标题关键词等</block>
    <link rel="icon" type="image/ico" href="/favicon.ico">
    <link rel="stylesheet" type="text/css" media="screen"  href="__PUBLIC__/home/css/basic.css" />
    <link rel="stylesheet" type="text/css" media="screen"  href="__PUBLIC__/home/css/style.css" />
    <link rel="stylesheet" type="text/css" media="screen"  href="__PUBLIC__/home/css/desktop.css" />
    <link rel="stylesheet" type="text/css" media="screen"  href="__PUBLIC__/home/css/highlight.css" />
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/home/css/font-awesome.min.css" />
    <script src="http://libs.baidu.com/jquery/1.11.3/jquery.min.js"></script>
    <script src="//cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <block name="head">加载css和js等代码</block>
    <meta name="description" content="" />
</head>
<body>
    <block name="header">菜单</block>
    <div id="Wrapper">
       <div class="content">
           <block name="wrap">外套</block>
       </div>
       <div class="c"></div>
       <div class="sep20"></div>
    </div>
    <block name="footer">底部</block>
</body>