<div class="cell item" style=""><div style="position: absolute; margin: -10px -10px 0px 650px;"></div>
    <eq name="vo.is_top" value="1">
        <div style="position: absolute; margin: -10px -10px 0px 650px;"><img src="__PUBLIC__/static/img/corner_star.png" width="20" height="20" title="置顶"></div>
    </eq>
     <table cellpadding="0" cellspacing="0" border="0" width="100%">
        <tbody>
            <tr>
                <td width="48" valign="top" align="center"><a href="{:U('User/index?id='.$vo['uid'])}"><img src="{$vo.uid|get_avatar=###,'48'}" class="avatar" border="0" align="default"></a></td>
                <td width="10"></td>
                <td width="auto" valign="middle"><span class="item_title"><a href="{:U('Topics/index?id='.$vo['id'])}">{$vo.title}</a></span>
                <div class="sep5"></div>
                    <span class="small fade"><div class="votes"></div>
                        <a class="node" href="{:U('Node/index?id='.$vo['nid'])}">{$vo.nid|get_node}</a> &nbsp;•&nbsp; 
                        <strong><a href="{:U('User/index?id='.$vo['uid'])}">{$vo.uid|get_username}</a></strong> &nbsp;•&nbsp; 
                        <eq name="vo.reply_count" value="0">
                            {$vo.add_time|check_time}前
                        <else/>
                            {$vo.reply_time|check_time}前 &nbsp;•&nbsp; 最后回复来自 <strong><a href="{:U('User/index?id='.$vo['cid'])}">{$vo.cid|get_username}</a></strong>
                        </eq>
                    </span>
                </td>
                <neq name="vo.reply_count" value="0"><td width="70" align="right" valign="middle"><a href="{:U('Topics/index?id='.$vo['id'])}#reply{$vo['reply_count']}" class="count_livid">{$vo.reply_count}</a></td></neq>
                
            </tr>
        </tbody>
     </table>
</div>