<extend name="Public/base" />
<block name="meta">
    <title>{$user.info.username} - YznBSS</title>
    <meta name="keywords" content="YznBBS，轻论坛，Yzn论坛，御宅男论坛，御宅男工作室" />
	<meta name="description" content="御宅男工作室有多年的软件开发经验，专注于：软件制作，验证码识别，网站制作，采集工具，模拟操作，批量注册，群发软件，留言功能。" />   
</block>
<block name="head">
</block>
<block name="header"><include file="Public/header" /></block>
<block name="wrap">
      <div id="Leftbar"></div>
      <div id="Rightbar">
          
      </div>
      <include file="User/main" />  
</block>
<block name="footer"><include file="Public/footer" /></block>