<extend name="Public/base" />
<block name="meta">
    <title>{:C('WEB_SITE_TITLE')} › 我收藏的主题</title>
    <meta name="keywords" content="{:C('WEB_SITE_KEYWORD')}" />
	<meta name="description" content="{:C('WEB_SITE_DESCRIPTION')}" />   
</block>
<block name="head"></block>
<block name="header"><include file="Public/header" /></block>
<block name="wrap">
    <div id="Rightbar">
      <if condition="is_login()">
            <include file="Public/rightbar_info" />
         <else/>
            <include file="Public/rightbar_login" />
      </if>
    </div>
    <include file="My/my_topics" />
</block>
<block name="footer"><include file="Public/footer" /></block>