<extend name="Public/base" />
<block name="meta">
    <title>{:C('WEB_SITE_TITLE')}</title>
    <meta name="keywords" content="{:C('WEB_SITE_KEYWORD')}" />
	<meta name="description" content="{:C('WEB_SITE_DESCRIPTION')}" />   
</block>
<block name="head"></block>
<block name="header"><include file="Public/header" /></block>
<block name="wrap">
    <div id="Rightbar">
      <if condition="is_login()">
            <include file="Public/rightbar_info" />
         <else/>
            <include file="Public/rightbar_login" />
      </if>
      <include file="Public/rightbar_hot_topcis" />
      <include file="Public/rightbar_hot_node" />
      <include file="Public/rightbar_new_node" />
      <include file="Public/rightbar_status" />
    </div>
    <include file="Index/main" />
</block>
<block name="footer"><include file="Public/footer" /></block>